@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cointeiner{
    width:1440px;
    width: 100%;
   
}
a{
    text-decoration: none;

}
li{
    list-style: none;   
}
.inner{
    background: rgba(24, 21, 17, 1);
    display: flex;
    justify-content: space-between;
}
.inner_content{
   display: flex;
   align-items: center;
   gap: 30px;
   
   
}
.content_items{
    display: flex;
    gap: 30px;

    
}
.content_logo a{
    font-family: 'Old Standard TT';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    color: #FFAE2B;
    margin-left: 110px;
}
.item a{
    font-family: 'Old Standard TT';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    text-transform: uppercase;
    color: #ACA592;
   
}
.content_btn .btn{
    background: rgba(24, 21, 17, 1);
    border: 1px solid #FFAE2B;
    border-radius: 0px;
    height: 52px;
    width: 147px;
    margin-right: 110px;
}
.content_btn .btn a{
    color: rgba(255, 174, 43, 1);
    font-family: 'Old Standard TT';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    text-align: center;
}
.header_cointeiner{
    width:1440px;
    width: 100%;
    Height: 600px;
    
    background-image: url(/app/image/IMAGE.png);
    background-position:center; 
}
.header_content{
    align-items: center;
    padding: 150px;;
}

.header_items p{
    font-family: 'Old Standard TT';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    text-align: center;
    text-transform: uppercase;
    color: #FFAE2B;
}
.header_items h2{
    padding: 15px;
    font-family: 'Old Standard TT';
font-style: normal;
font-weight: 400;
font-size: 70px;
text-align: center;
color: #FFFFFF;
}
.header_btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header_btn .btn {
    background: #FFAE2B;
    border-radius: 0px;
    height: 50px;
    width: 143px;
    border: none;
}
.btn a{
    font-family: Old Standard TT;
    font-size: 11px;
    font-weight: 400;
    text-align: center;
    color: rgba(24, 21, 17, 1);

}