@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cointeiner{
    width:1440px;
    width: 100%;
   
}
a{
    text-decoration: none;

}
li{
    list-style: none;   
}
.inner{
    background: rgba(24, 21, 17, 1);
    display: flex;
    justify-content:space-around;
}
.inner_content{
   display: flex;
   align-items: center;
   gap: 30px;
   
   
}
.content_items{
    display: flex;
    gap: 30px;

    
}
.content_logo a{
    font-family: 'Old Standard TT';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    color: #FFAE2B;
    margin-left: 110px;
}
.item a{
    font-family: 'Old Standard TT';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    text-transform: uppercase;
    color: #ACA592;
   
}
.content_btn .btn{
    background: rgba(24, 21, 17, 1);
    border: 1px solid #FFAE2B;
    border-radius: 0px;
    height: 52px;
    width: 147px;
    margin-right: 110px;
}
.content_btn .btn a{
    color: rgba(255, 174, 43, 1);
    font-family: 'Old Standard TT';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    text-align: center;
}
.header_cointeiner{
    width:1440px;
    width: 100%;
    Height: 600px;
    
    background-image: url(/app/image/IMAGE.png);
    background-position:center; 
}
.header_content{
    align-items: center;
    padding: 150px;;
}

.header_items p{
    font-family: 'Old Standard TT';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    text-align: center;
    text-transform: uppercase;
    color: #FFAE2B;
}
.header_items h2{
    padding: 15px;
    font-family: 'Old Standard TT';
font-style: normal;
font-weight: 400;
font-size: 70px;
text-align: center;
color: #FFFFFF;
}
.header_btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header_btn .btn {
    background: #FFAE2B;
    border-radius: 0px;
    height: 50px;
    width: 143px;
    border: none;
}
.btn a{
    font-family: Old Standard TT;
    font-size: 11px;
    font-weight: 400;
    text-align: center;
    color: rgba(24, 21, 17, 1);
}
.main{
    background-color: #181511;
}
.main {
    display: flex;
    justify-content: center;

}
.main_content{
    margin-top: 120px;
}
.main_content p{
font-family: 'Old Standard TT';
font-style: normal;
font-weight: 400;
font-size: 22px;
text-transform: uppercase;
color: #ACA592;
text-align: center;
}
.main_content h2{
    font-family: 'Old Standard TT';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    color: #FFAE2B;
}
.content_menu{
    display: none;
}

/* !Cards start*/
.main__cards{
    padding-top: 55px;
    background: rgba(24, 21, 17, 1);
}

.card{
    border: 1px rgba(75, 65, 54, 1) solid;
    background: #181511;
    height: 315px;
    width: 387px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
 /*    padding: 20px; */


}
.card__item{
    font-family: Old Standard TT;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 2px;
    text-align: center;
    color: rgba(255, 255, 255, 1);

} 
 .main__cards{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
/* !Cards end*/

@media (max-width:900px) {
    .inner_content{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background:#181511;
        display: flex;
        
    }
    .content_items{
        position: absolute;
  /*       display: flex; */
        flex-direction: column;
        right: 200px;
        top: 120px;
        display: none;
        
       

    }
    .content_logo{
        margin-top: 25px;
        margin-left: -80px;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
    }
    .content_btn{
        position: fixed;
        right: 0;
        margin-top: 10px;
    }
    .content_menu{
        display: inline;
        position: absolute;
        top: 10px;
        right: -55px;   
    }
   .item{
    font-size: 40px;
    
   }
   .content_items .show{
    display: flex;
   }
}